<div class="ui segment hangman-content">
  <h3><a href="/hangmen/<%= hangman._id %>"><%= hangman.currentWordStr() %></a></h3>
  <pre><%= hangman.currentWordStr() %></pre>
  <div>
    <span class="tag"><%= hangman.strfCreatedAt() %></span>
    <span class="tag right">
      <div class="ui inline dropdown">
        <div class="text">操作</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="/hangmen/<%= hangman._id %>">继续</a></div>
          <div class="item"><a href="/hangmen/<%= hangman._id %>">放弃</a></div>
        </div>
      </div>
    </span>
  </div>
</div>
