extend ../layouts/layout

block content
  span 总共有#{totalCount}条记录
  br
  table.ui.celled.table
    thead
      th 猜词
      th 标准答案
      th 胜负
      th 最后更新时间
      th 操作
    tbody
      - each hangman in hangmen
        tr
          td
            a(href='/hangmen/#{hangman._id}') #{hangman.currentWordStr}
          - if (hangman.isFinished())
            td #{hangman.protoWord}
          - else
            td
          td #{{ init: '尚未开始', 'win': '通关', lose: '失败', giveup: '弃权', guessing: '暂停中' }[hangman.state]}
          td #{hangman.strfUpdatedAt()}
          td
            .ui.inline.dropdown
              .text 操作
              i.dropdown.icon
              .menu
                - if (hangman.isFinished())
                  .item
                    a(href='/hangmen/#{hangman._id}') 详情
                - else
                  .item
                    a(href='/hangmen/#{hangman._id}') 继续
                  form.item(method='post', action='/hangmen/#{hangman._id}/giveup')
                    input(type='hidden', name='_method', value='patch')
                    input.giveup-link(type='submit', value='放弃')
    tfoot
      th(colspan=5)
        - if (!isFirstPage)
          .ui.left.floated.pagination.menu
            a.icon.item(href='/hangmen/list?page=#{page - 1}')
              i.left.chevron.icon
        - if (!isLastPage)
          .ui.right.floated.pagination.menu
            a.icon.item(href='/hangmen/list?page=#{page + 1}')
              i.right.chevron.icon

